.glass {
    background: transparent;
    border-radius: 5px;
    /* color: #333;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    max-width: 50%;
    padding: 1rem 2rem; */
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .glass {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background: transparent;
    }
  }
  a:link {
    color: pink;
  }
  a:hover {
    color: blueviolet;
  }